@media (max-width: 980px) {
   .container {
      padding: 0 20px;
   }
}
@media (max-width: 961px) {
   .burger {
      display: block;
   }
   .header-menu {
      z-index: 5;
      transition: all 0.5s ease 0s;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: -100vh;
      left: 0;
      background: var(--Bg_black);
      padding-top: 30px;
      padding-left: 20px;
      .header-list {
         flex-direction: column;
         align-items: start;
         gap: 10px;
         li {
            padding: 5px 0;
         }
      }
      .has-drop {
         position: relative;
         .header-drop-menu {
            position: relative;
            top: 0;
            padding: 0;
            opacity: 0;
            height: 0;
            z-index: -1;
            padding-bottom: 10px;
            &.active {
               top: 15px;
               opacity: 1;
               height: auto;
               z-index: 1;
            }
         }
      }
      .drop-body {
         display: block;
         padding-left: 20px;
         a {
            display: block;
            margin-top: 10px;
            &:first-child {
               margin: 0;
            }
         }
      }
      &.active {
         top: 120px;
      }
   }
   .pc {
      display: none;
   }
   .mobile:has(.header-btn) {
      display: block;
      height: max-content;
      position: absolute;
      bottom: 300px; //потому что высота менюшки 100vh

      margin-top: auto;
   }
}

// mainpage breakpoints
.main-imageblock {
   position: relative;
   img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
   }
   min-height: 500px;
}
@media (max-width: 1259px) {
   .main .swiper-slide {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 1187px) {
   .main .swiper-slide {
      grid-template-columns: 2fr 3fr;
   }
}

@media (max-width: 971px) {
   .main .swiper-slide {
      display: flex;
      flex-direction: column-reverse;
   }
   .main-imageblock {
      max-height: 300px;
      min-height: auto;
      height: 300px;
   }
   .main-arrowblock {
      margin-top: 40px;
      top: 0;
      position: static;
   }
   .main .container {
      padding-bottom: 20px;
   }
}

@media (max-width: 451px) {
   .main-btn {
      display: none;
   }
   .main-title {
      margin-top: 20px;
      color: var(--White, #fff);
   }
   .title {
      /* H2 */
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 26.4px */
      text-transform: uppercase;
   }

   .main-desc {
      color: var(--White, #fff);

      /* Text */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      margin-top: 10px;
   }
   .contianer {
      padding: 0 10px;
   }
}

@media (max-width: 975px) {
   .news .swiper-wrapper {
      grid-template-columns: repeat(2, 1fr);
   }
}

.news .pc {
   display: block;
}

@media (max-width: 563px) {
   .news .pc {
      display: none;
   }

   .news .mobile {
      display: block;
   }
   .news .swiper-wrapper {
      display: flex;
      gap: 0;
   }
   .news .arrowblock {
      display: flex;
      position: relative;
      top: 0;
      margin-top: 30px;
   }
}

// faq
@media (max-width: 815px) {
   .faq-body {
      grid-template-columns: 1fr 3fr;
   }
}
.faq-quest {
   padding-right: 40px;
}
@media (max-width: 561px) {
   .faq-body {
      display: block;
   }
   .faq-title {
      margin-bottom: 30px;
   }
   .faq-item.active {
      .faq-answer {
         padding-bottom: 20px;
      }
   }
   .faq-quest {
      padding: 20px 0 19px;
   }
   .faq-quest {
      padding-right: 40px;
      color: var(--White, #fff);

      /* H4 */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 17.6px */
      text-transform: uppercase;
   }
   .faq-answer {
      color: var(--White, #fff);

      /* Text */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
   }
}

@media (max-width: 961px) {
   .message-body {
      display: block;
   }
   .message form {
      margin-top: 40px;
      width: 66%;
   }
}
@media (max-width: 846px) {
   .message form {
      margin-top: 40px;
      width: 80%;
   }
}
@media (max-width: 715px) {
   .message form {
      margin-top: 40px;
      width: 90%;
   }
}

@media (max-width: 641px) {
   .message form {
      margin-top: 40px;
      width: 100%;
   }
}

@media (max-width: 589px) {
   .message form {
      margin-top: 40px;
      display: block;
   }
   .message .form-item {
      margin-top: 20px;
   }
   section {
      padding: 40px 0;
   }
}
// footer
@media (max-width: 1024px) {
   .footer-list {
      column-gap: 50px;
   }
}

@media (max-width: 786px) {
   .footer-body {
      display: block;
   }
   .footer-logoblock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      max-width: 100%;
   }
   .footer-media {
      margin: 0;
      gap: 18px;
   }
   .footer-contacts {
      margin: 0;
      margin-top: 40px;
   }
   .footer-menu {
      margin: 0;

      margin-top: 40px;
      justify-content: start;
   }
}

// modal

@media (max-width: 580px) {
   .header-logo {
      height: 53px;
      width: max-content;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   .header-menu.active {
      top: 88px;
   }
   .modal {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 80px 20px;
      top: -200vh;
      z-index: 150;
      opacity: 1;
      &.active {
         top: 0;
         opacity: 1;
      }
   }
   .modal-exit {
      top: 70px;
      right: 20px;
   }
   .modal-title {
      color: var(--Black, #0f0f17);

      /* H3 */
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%; /* 22px */
      text-transform: uppercase;
   }
}

* {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
